body {
  background-color: gray;
}

.card .me-4 {
  width: 180px;
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card .me-4 img {
  width: 100%;
}

.pt-4 {
  margin-top: 100px;
}
