html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(black, white);
}

nav {
  background: linear-gradient(-45deg, #451515, #de4646, #ef482a, #ff0000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-fluid a {
  color: rgb(255, 241, 241);
}

.contenedor-card {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 150px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
  width: 100%;
  text-align: center;
  color: #fff;
}

.avatar {
  margin-bottom: 20px;
}

.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

h2 {
  margin: 10px 0;
}

p {
  margin: 10px 0 20px;
  color: #888;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  text-align: left;
  margin-bottom: 5px;
  color: #333;
  margin: 0;
  padding: 0px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.password-container input[type="password"] {
  width: calc(100% - 40px);
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

button {
  padding: 10px 15px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #353535;
  transform: scale(0.99);
}
