body {
    background-color: rgba(0, 0, 0, .5);
}

h1 {
    margin: 10px;
    color: black;
    text-align: center;
}

.container-cards{
    display: flex;
    margin: 50px ;
}

.card{
    border: 1px black solid;
    width: 50rem;
    margin: 20px;
}